* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 14px;
}

html,
body,
#app {
  height: 100%;
  --base-color: #a8824a;
  overflow: hidden;
}

body {
  margin: 0;
}

.t-cursor {
  cursor: pointer;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

